#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0

/ {
	keymap {
		compatible = "zmk,keymap";

		// LAYER 0 - Grid Layout (như QMK default)
		default_layer {
			/* 
			Row 3: 1 2 3 4 b s l d u r
			*/
			bindings = <
	&kp Q  &kp W  &kp E  &kp R  &kp T    &kp Y     &kp U    &kp I     &kp O   &kp P
	&kp A  &kp S  &kp D  &kp F  &kp G    &kp H     &kp J    &kp K     &kp L   &kp SEMI
	&kp Z  &kp X  &kp C  &kp V  &kp B    &kp N     &kp M    &kp COMMA &kp DOT &kp FSLH
	&kp N1 &kp N2 &kp N3 &kp N4 &kp BSPC &kp SPACE &kp LEFT &kp DOWN  &kp UP  &kp RIGHT
			>;
		};

		// LAYER 1 - HHKB Style Layout
		hhkb_layer {
			/*
			Row 3: ESC TAB CTRL ALT GUI BSPC SPACE ALT CTRL DEL ENTER
			*/
			bindings = <
	&kp Q  &kp W  &kp E  &kp R  &kp T    &kp Y     &kp U    &kp I     &kp O   &kp P
	&kp A  &kp S  &kp D  &kp F  &kp G    &kp H     &kp J    &kp K     &kp L   &kp SEMI
	&kp Z  &kp X  &kp C  &kp V  &kp B    &kp N     &kp M    &kp COMMA &kp DOT &kp FSLH
	&kp ESC &kp TAB &kp LCTRL &kp LALT &kp LGUI &kp BSPC &kp SPACE &kp RALT &kp RCTRL &kp DEL
			>;
		};

		// LAYER 2 - MIT Layout (2u Spacebar giữa)
		mit_layer {
			/*
			Row 3: 1 2 3 4 BSPC [2u SPACE] LEFT DOWN UP RIGHT
			*/
			bindings = <
	&kp Q  &kp W  &kp E  &kp R  &kp T    &kp Y     &kp U    &kp I     &kp O   &kp P
	&kp A  &kp S  &kp D  &kp F  &kp G    &kp H     &kp J    &kp K     &kp L   &kp SEMI
	&kp Z  &kp X  &kp C  &kp V  &kp B    &kp N     &kp M    &kp COMMA &kp DOT &kp FSLH
	&kp N1 &kp N2 &kp N3 &kp N4 &kp BSPC &kp SPACE &kp SPACE &kp LEFT &kp DOWN &kp UP
			>;
			// Lưu ý: 2u spacebar sẽ cần combo hoặc 2 keys riêng
		};

		// LAYER 3 - Navigation/Function
		nav_layer {
			bindings = <
	&kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &kp F6     &kp F7    &kp F8     &kp F9   &kp F10
	&kp F11 &kp F12 &kp HOME &kp UP  &kp END   &kp PG_UP  &kp INS   &kp PRT_SC &kp SCRL &kp PAUSE
	&kp GRAVE &kp TILDE &kp LEFT &kp DOWN &kp RIGHT &kp PG_DN &kp DEL &kp C_BRI &kp C_VOL_DN &kp C_VOL_UP
	&kp C_PP &kp C_NXT &kp C_PRV &kp MUTE &kp C_BRI &kp BSPC &kp SPACE &kp LEFT &kp DOWN &kp UP
			>;
		};
	};
};
