/*
 * Copyright (c) 2024
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LAYER_1 1
#define LAYER_2 2
#define LAYER_3 3

/ {
    combos {
        compatible = "zmk,combos";

        combo_bootloader {
            timeout-ms = <150>;
            key-positions = <0 9 30 39>;
            bindings = <&bootloader>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q  &kp W      &kp E         &kp R         &kp T     &kp Y      &kp U     &kp I      &kp O    &kp P
&kp A  &kp S      &kp D         &kp F         &kp G     &kp H      &kp J     &kp K      &kp L    &kp SEMI
&kp Z  &kp X      &kp C         &kp V         &kp B     &kp N      &kp M     &kp COMMA  &kp DOT  &kp FSLH
&to 1  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_WIN  &kp BSPC  &kp SPACE  &kp LEFT  &kp DOWN   &kp UP   &kp RIGHT
            >;

            // ENCODER BINDINGS với chân A chung
            // Encoder trái: Volume | Encoder phải: Brightness

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        layer_1 {
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans
&to 2       &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans
            >;

            // Encoder trái: Page | Encoder phải: Home/End

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp HOME END>;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&to 3   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;

            // Encoder trái: Arrows | Encoder phải: Tab

            sensor-bindings = <&inc_dec_kp RIGHT_ARROW LEFT_ARROW &inc_dec_kp TAB LG(TAB)>;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&to 0   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;

            // Encoder trái: Navigation | Encoder phải: Media

            sensor-bindings = <&inc_dec_kp UP_ARROW DOWN_ARROW &inc_dec_kp C_NEXT C_PREV>;
        };
    };

    // QUAN TRỌNG: ĐỊNH NGHĨA ENCODER VỚI CHÂN A CHUNG
    // Phần này phải KHỚP với overlay
    // Encoder trái - dùng chân A chung (P0.20)

    left_encoder: encoder_left {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;  // CHÂN A CHUNG
        b-gpios = <&gpio0 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;  // B TRÁI
        steps = <4>;  // Giá trị nhỏ để test
    };

    // Encoder phải - CÙNG chân A (P0.20)

    right_encoder: encoder_right {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;  // CÙNG CHÂN A
        b-gpios = <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;   // B PHẢI
        steps = <20>;  // Giá trị nhỏ để test
    };

    // Liên kết encoders với keymap

    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder &right_encoder>;
    };
};
