#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LAYER_1 1
#define LAYER_2 2
#define LAYER_3 3

/ {
    combos {
        compatible = "zmk,combos";

        combo_bootloader {
            timeout-ms = <150>;
            key-positions = <0 9 30 39>;
            bindings = <&bootloader>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // Q W E R T Y U I O P
            // A S D F G H J K L ;
            // Z X C V B N M , . /
            // 1 2 3 4 b s l d u r

            bindings = <
                &kp Q  &kp W      &kp E         &kp R         &kp T     &kp Y      &kp U     &kp I      &kp O    &kp P
                &kp A  &kp S      &kp D         &kp F         &kp G     &kp H      &kp J     &kp K      &kp L    &kp SEMI
                &kp Z  &kp X      &kp C         &kp V         &kp B     &kp N      &kp M     &kp COMMA  &kp DOT  &kp FSLH
                &to 1  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_WIN  &kp BSPC  &kp SPACE  &kp LEFT  &kp DOWN   &kp UP   &kp RIGHT
                
                // Encoder bindings for layer 0
                &mo 1        // Left encoder press
                &kp C_VOL_UP // Left encoder clockwise
                &kp C_VOL_DN // Left encoder counter-clockwise
                &mo 1        // Right encoder press  
                &kp C_BRI_UP // Right encoder clockwise
                &kp C_BRI_DN // Right encoder counter-clockwise
            >;
        };

        layer_1 {
            bindings = <
                &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans  &trans  &trans  &trans
                &trans      &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans
                &trans      &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans
                &to 0       &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans
                
                // Encoder bindings for layer 1
                &mo 2    // Left encoder press
                &kp PG_UP // Left encoder clockwise
                &kp PG_DN // Left encoder counter-clockwise
                &mo 2    // Right encoder press  
                &kp HOME  // Right encoder clockwise
                &kp END   // Right encoder counter-clockwise
            >;
        };

        // Layer 2 - Trống
        layer_2 {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &to 0   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                
                // Encoder bindings for layer 2
                &mo 3          // Left encoder press
                &kp RIGHT_ARROW // Left encoder clockwise
                &kp LEFT_ARROW  // Left encoder counter-clockwise
                &mo 3          // Right encoder press  
                &kp TAB        // Right encoder clockwise
                &kp LG(TAB)    // Right encoder counter-clockwise
            >;
        };

        // Layer 3 - Trống
        layer_3 {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &to 0   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                
                // Encoder bindings for layer 3
                &to 0         // Left encoder press
                &kp UP_ARROW   // Left encoder clockwise
                &kp DOWN_ARROW // Left encoder counter-clockwise
                &to 0         // Right encoder press  
                &kp KSC_NEXT  // Right encoder clockwise
                &kp KSC_PREV  // Right encoder counter-clockwise
            >;
        };
    };

    // Encoder definitions - fixed to remove deprecated properties
    left_encoder: encoder_left {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio0 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <20>;
    };

    right_encoder: encoder_right {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <20>;
    };

    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder &right_encoder>;
    };
};
